*{
    margin: 0;
    padding: 0%;    
};

.main {
    width: 100%;
    margin: 0;
    background-image: url('../images/basketBallCourt.webp');
    background-size: cover;
    
}

.titleCard {
    position:absolute;
    left: 900px;
    top: 20px;   
}

.boxWithReviews {
    position: relative;
    top: 100px;
text-align: center;
width: 300px;
height: 300px;
background-color: aqua;
border: 1px sandybrown;
}